<header>
  <div class="container enter stagger">
    <%= render Ui::BadgeComponent.new(class: "-rotate-2 mb-8").with_content("Sponsorship") %>
    <h1 class="heading heading-1">Partner <span class="heading-highlight">with us.</span></h1>
    <p class="text-lg md:text-xl max-w-2xl mb-10">
      Help us run bigger events, better hackathons, and create real-world opportunities for <%= Rails.application.config.meta[:member_count] %> students.
      In return, get direct access to Griffith's most engaged tech talent.
    </p>
    <div class="flex flex-wrap gap-4">
      <%= render Ui::ButtonComponent.new(href: "mailto:#{site_socials[:email]}").with_content("Get in touch") %>
      <%= render Ui::ButtonComponent.new(href: root_path, variant: :secondary).with_content("Back to home") %>
    </div>
  </div>
</header>
