<div class="flex flex-col items-start gap-8">
  <h1 class="text-2xl font-bold">hello, world!</h1>

  <div class="flex flex-wrap items-start gap-4">
    <%= ui_button("Join our Discord", href: "#", variant: :primary) %>
    <%= ui_button("Learn more", href: "#", variant: :secondary) %>
    <%= ui_button("Join Us", href: "#", variant: :primary, size: :sm) %>
  </div>
</div>
