<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-5 reveal">
  <% sponsors.each do |sponsor| %>
    <%= render Site::SponsorCardComponent.new(sponsor: sponsor) %>
  <% end %>

  <% placeholder_count.times do %>
    <%= render Site::SponsorCardComponent.new %>
  <% end %>

  <%= link_to helpers.sponsorship_path,
              class: "card card-link !bg-brand-red hover:shadow-[5px_5px_0px_var(--color-brand-black)] grid place-items-center h-24" do %>
    <p class="text-white font-bold inline-flex items-center gap-1">
      Sponsor Us
      <%= helpers.icon "arrow-right", class: "w-4 h-4" %>
    </p>
  <% end %>
</div>
